force-app/main/default/flows/Add_New_Equipment_from_Field_Service_Mobile.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <decisions>
        <name>Check_WO_Status</name>
        <label>Check WO Status</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>New_Equipment_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>In Progress</defaultConnectorLabel>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrder.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WO_Completed_Screen</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
        <rules>
            <name>Payment_Processing_Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrder.Process_Payments__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Paymen_Processing_Submitted</targetReference>
            </connector>
            <label>Payment Processing Submitted</label>
        </rules>
    </decisions>
    <description>This flow allows Field Service Technicians to add new Equipment records from the mobile app</description>
    <dynamicChoiceSets>
        <name>chEquipmentManufacturer</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Manufacturer__c</picklistField>
        <picklistObject>Equipment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chEquipmentStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Equipment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chEquipmentType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Equipment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chWorkedOn</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Worked_On__c</picklistField>
        <picklistObject>Equipment__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Add New Equipment from Field Service Mobile {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add New Equipment from Field Service Mobile</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Equipment</name>
        <label>Create Equipment</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignRecordIdToReference>NewEquipmentID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Work_Order_Equipment</targetReference>
        </connector>
        <inputAssignments>
            <field>Installation_Date__c</field>
            <value>
                <elementReference>Installation_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manufacturer__c</field>
            <value>
                <elementReference>Manufacturer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model_Number__c</field>
            <value>
                <elementReference>Model</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SEER__c</field>
            <value>
                <elementReference>SEER</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Serial_Number__c</field>
            <value>
                <elementReference>Serial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Warranty_Date__c</field>
            <value>
                <elementReference>Warranty_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Worked_On__c</field>
            <value>
                <elementReference>Worked_On</elementReference>
            </value>
        </inputAssignments>
        <object>Equipment__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Order_Equipment</name>
        <label>Create Work Order Equipment</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <inputAssignments>
            <field>Equipment__c</field>
            <value>
                <elementReference>NewEquipmentID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <object>Work_Order_Equipment__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_WO_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Process_Payments__c</queriedFields>
    </recordLookups>
    <screens>
        <name>New_Equipment_Screen</name>
        <label>Equipment Details</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Equipment</targetReference>
        </connector>
        <fields>
            <name>Status</name>
            <choiceReferences>chEquipmentStatus</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Type</name>
            <choiceReferences>chEquipmentType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Manufacturer</name>
            <choiceReferences>chEquipmentManufacturer</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Manufacturer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Model</name>
            <dataType>String</dataType>
            <fieldText>Model #</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Serial</name>
            <dataType>String</dataType>
            <fieldText>Serial #</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SEER</name>
            <dataType>String</dataType>
            <fieldText>SEER</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Installation_Date</name>
            <dataType>Date</dataType>
            <fieldText>Installation Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Warranty_Date</name>
            <dataType>Date</dataType>
            <fieldText>Warranty Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Worked_On</name>
            <choiceReferences>chWorkedOn</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Worked On</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Paymen_Processing_Submitted</name>
        <label>Payment Processing Submitted</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Payment_Processing_Message</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;It is not possible to add Equipment information to this Work Order as request for Payment Processing has already been submitted&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>WO_Completed_Screen</name>
        <label>Work Order Status Validation</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>WO_Completed_Message</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;It is not possible to add Equipment information to this Work Order as it has already been completed&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewEquipmentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
