force-app/main/default/flows/Add_Labor_from_Field_Service_Mobile.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <decisions>
        <name>Check_WO_Status</name>
        <label>Check WO Status</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>New_Labor_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>In Progress</defaultConnectorLabel>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrder.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WO_Completed_Screen</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
        <rules>
            <name>Pricing_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrder.Process_Payments__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_Request_Submitted_Screen</targetReference>
            </connector>
            <label>Pricing Requested</label>
        </rules>
        <rules>
            <name>Not_In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrder.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WO_Not_In_Progress</targetReference>
            </connector>
            <label>Not In Progress</label>
        </rules>
    </decisions>
    <description>This flow allows Field Service Technicians to add new Labor records associated to the Work Order</description>
    <dynamicChoiceSets>
        <name>chAdjustmentReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Adjustment_Reason__c</picklistField>
        <picklistObject>Labor__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chCallType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Call_Type__c</picklistField>
        <picklistObject>Labor__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Add Labor from Field Service Mobile {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Labor from Field Service Mobile</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Labor</name>
        <label>Create Labor</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <inputAssignments>
            <field>Adjustment_Reason__c</field>
            <value>
                <elementReference>Adjustment_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Adjustment_Value__c</field>
            <value>
                <elementReference>Adjustment_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Type__c</field>
            <value>
                <elementReference>Call_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Duration__c</field>
            <value>
                <elementReference>Job_Duration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>WorkOrder.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Labor__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_WO_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Process_Payments__c</queriedFields>
    </recordLookups>
    <screens>
        <name>New_Labor_Screen</name>
        <label>Labor Details</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Labor</targetReference>
        </connector>
        <fields>
            <name>Call_Type</name>
            <choiceReferences>chCallType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Call Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Job_Duration</name>
            <dataType>Number</dataType>
            <fieldText>Job Duration (Hours)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Please enter a value in the range of 0.5 - 10 hours&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Job_Duration} &lt; 10 &amp;&amp; {!Job_Duration} &gt;= 0.5</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Adjustment_Value</name>
            <dataType>Currency</dataType>
            <fieldText>Adjustment Value ($)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Adjustment_Reason</name>
            <choiceReferences>chAdjustmentReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Adjustment Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Payment_Request_Submitted_Screen</name>
        <label>Payment Processing Submitted</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>WO_Pricing_Requested_Message</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;It is not possible to add Labor information to this Work Order as the request for Payment Processing has already been submitted&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>WO_Completed_Screen</name>
        <label>Work Order Status Validation</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>WO_Completed_Message</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;It is not possible to add Labor information to this Work Order as it has already been completed&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WO_Not_In_Progress</name>
        <label>Work Order Status Validation</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Not_In_Progress_Message</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;It is not possible to add Labor information to this Work Order as the Service Appointment status is not On-Site&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
