force-app/main/default/flows/Capture_Serviceable_Postal_Code_on_Create_and_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Set_Serviceable_Postal_Code_on_Add_Or_Update</name>
        <label>Set Serviceable Postal Code on Add Or Update</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>AllPostalCodes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Postal_Code__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_0</targetReference>
        </connector>
    </assignments>
    <description>Tracking History to capture Serviceable Postal Code on Create and Update</description>
    <environments>Default</environments>
    <formulas>
        <name>PostalCodeAdditionText</name>
        <dataType>String</dataType>
        <expression>{!AllPostalCodes}+&apos; was added&apos;</expression>
    </formulas>
    <interviewLabel>Capture Serviceable Postal Code on Create and Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Capture Serviceable Postal Code on Create and Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_0</name>
        <label>Update</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_Resource__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Postal_Codes__c</field>
            <value>
                <elementReference>PostalCodeAdditionText</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceResource</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Serviceable_Postal_Code_on_Add_Or_Update</targetReference>
        </connector>
        <object>Serviceable_Postal_Code__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AllPostalCodes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AllSkills</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
