force-app/main/default/flows/Field_Service_Mobile_Status_Transitions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Set_Status_from_Multi_Day</name>
        <label>Set Status from Multi Day</label>
        <locationX>2514</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Status_from_MultiDay</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_to_Confirmed</name>
        <label>Set Status to Confirmed</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_to_Multi_Day</name>
        <label>Set Status to Multi Day</label>
        <locationX>1898</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Multi Day</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_to_Onsite</name>
        <label>Set Status to Onsite</label>
        <locationX>1106</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On-Site</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Mobile_Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsWorkOrderUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_to_Onsite_Multiday</name>
        <label>Set Status to Onsite - MDT First Onsite</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On-Site</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Mobile_Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsWorkOrderUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Multi_Day_Work_Started__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_to_Onsite_Multiday_Work_Started</name>
        <label>Set Status to Onsite - MDT Previous Onsite</label>
        <locationX>842</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On-Site</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_to_Travel</name>
        <label>Set Status to Travel</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Travel</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>chCompleted</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>chConfirmed</name>
        <choiceText>Confirmed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Confirmed</stringValue>
        </value>
    </choices>
    <choices>
        <name>chMultiDay</name>
        <choiceText>Multi Day</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Multi Day</stringValue>
        </value>
    </choices>
    <choices>
        <name>chNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>chOnsite</name>
        <choiceText>On-Site</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>On-Site</stringValue>
        </value>
    </choices>
    <choices>
        <name>chTravel</name>
        <choiceText>Travel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Travel</stringValue>
        </value>
    </choices>
    <choices>
        <name>chYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Assess_Multi_Day</name>
        <label>Assess Multi Day</label>
        <locationX>2184</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Subflow_Request_Pricing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Multi_Day_SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.FSL__IsMultiDay__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_from_Onsite_MDT</targetReference>
            </connector>
            <label>Multi Day SA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Multi_Day_Onsite_Status</name>
        <label>Assess Multi Day Onsite Status</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Set_Status_to_Onsite</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Multi Day</defaultConnectorLabel>
        <rules>
            <name>Multi_Day_First_Onsite</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.FSL__IsMultiDay__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ServiceAppointment.Multi_Day_Work_Started__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_to_Onsite_Multiday</targetReference>
            </connector>
            <label>Multi Day - First Onsite</label>
        </rules>
        <rules>
            <name>MultiDay_Previous_Onsite</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.FSL__IsMultiDay__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ServiceAppointment.Multi_Day_Work_Started__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_to_Onsite_Multiday_Work_Started</targetReference>
            </connector>
            <label>Multi Day - Previous Onsite</label>
        </rules>
    </decisions>
    <decisions>
        <name>Confirmed_Decision</name>
        <label>Confirmed Decision</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Travel_from_Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Status_from_Confirmed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>statusTravel</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_to_Travel</targetReference>
            </connector>
            <label>Travel</label>
        </rules>
        <rules>
            <name>Onsite_from_Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Status_from_Confirmed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>statusOnSite</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assess_Multi_Day_Onsite_Status</targetReference>
            </connector>
            <label>Onsite</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_Work_Order_Update</name>
        <label>Need Work Order Update?</label>
        <locationX>1546</locationX>
        <locationY>1706</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Work_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsWorkOrderUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Work_Order</targetReference>
            </connector>
            <label>Yes, Update Work Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Onsite_Decision</name>
        <label>Onsite Decision</label>
        <locationX>2030</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Subflow_Request_Pricing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Multi_Day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Status_from_Onsite_MDT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>statusMultiDay</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_to_Multi_Day</targetReference>
            </connector>
            <label>Multi Day</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Based_Decision</name>
        <label>Status Based Decision</label>
        <locationX>1546</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Invalid_Status_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mobile_Dispatched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_from_Mobile_Dispatched</targetReference>
            </connector>
            <label>Mobile Dispatched</label>
        </rules>
        <rules>
            <name>Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_from_Confirmed</targetReference>
            </connector>
            <label>Confirmed</label>
        </rules>
        <rules>
            <name>Travel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_from_Travel</targetReference>
            </connector>
            <label>Travel</label>
        </rules>
        <rules>
            <name>On_Site</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On-Site</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assess_Multi_Day</targetReference>
            </connector>
            <label>On-Site</label>
        </rules>
        <rules>
            <name>Multi_Day_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Multi Day</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_from_MultiDay</targetReference>
            </connector>
            <label>Multi Day</label>
        </rules>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Completion_Screen</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
    </decisions>
    <description>Field Service Mobile flow to allow Service Resource to change the status of Service Appointments</description>
    <dynamicChoiceSets>
        <name>chPartOrderReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Part_Order_Reason__c</picklistField>
        <picklistObject>ProductRequest</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chResolutionCode</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Resolution_Code__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Field Service Mobile Status Transitions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Field Service Mobile Status Transitions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_Service_Appointment</name>
        <label>Get Service Appointment</label>
        <locationX>1546</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>ServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>StatusCategory</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
        <queriedFields>FSL__IsMultiDay__c</queriedFields>
        <queriedFields>Multi_Day_Work_Started__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>1546</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status_Based_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointment.ParentRecordId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Process_Payments__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Service_Appointment</name>
        <label>Update Service Appointment</label>
        <locationX>1546</locationX>
        <locationY>1586</locationY>
        <connector>
            <targetReference>Need_Work_Order_Update</targetReference>
        </connector>
        <inputReference>ServiceAppointment</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Order</name>
        <label>Update Work Order</label>
        <locationX>1414</locationX>
        <locationY>1826</locationY>
        <inputReference>WorkOrder</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Completion_Screen</name>
        <label>Completion Screen</label>
        <locationX>2778</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Completion_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;It is not possible to change the status of Completed Service Appointments&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Invalid_Status_Screen</name>
        <label>Invalid Status Screen</label>
        <locationX>3042</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Invalid_Status_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;You are not allowed to change the status of {!ServiceAppointment.Status} Service Appointments&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Set_Status_from_Confirmed</name>
        <label>Set Status from Confirmed</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirmed_Decision</targetReference>
        </connector>
        <fields>
            <name>Select_Status_from_Confirmed</name>
            <choiceReferences>chTravel</choiceReferences>
            <choiceReferences>chOnsite</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Set_Status_from_Mobile_Dispatched</name>
        <label>Set Status from Mobile Dispatched</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Status_to_Confirmed</targetReference>
        </connector>
        <fields>
            <name>Select_Status_from_Dispatched</name>
            <choiceReferences>chConfirmed</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>chConfirmed</defaultSelectedChoiceReference>
            <fieldText>Select Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Set_Status_from_MultiDay</name>
        <label>Set Status from Multi Day</label>
        <locationX>2514</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Status_from_Multi_Day</targetReference>
        </connector>
        <fields>
            <name>Select_Status_from_MultiDay</name>
            <choiceReferences>chTravel</choiceReferences>
            <choiceReferences>chOnsite</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Set_Status_from_Onsite_MDT</name>
        <label>Set Status from Onsite</label>
        <locationX>2030</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Onsite_Decision</targetReference>
        </connector>
        <fields>
            <name>Select_Status_from_Onsite_MDT</name>
            <choiceReferences>chMultiDay</choiceReferences>
            <choiceReferences>chCompleted</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Set_Status_from_Travel</name>
        <label>Set Status from Travel</label>
        <locationX>1634</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Assess_Multi_Day_Onsite_Status</targetReference>
        </connector>
        <fields>
            <name>Select_Status_from_Travel</name>
            <choiceReferences>chOnsite</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>chOnsite</defaultSelectedChoiceReference>
            <fieldText>Select Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1420</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Service_Appointment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Subflow_Request_Pricing</name>
        <label>Subflow - Request Pricing</label>
        <locationX>2184</locationX>
        <locationY>1250</locationY>
        <flowName>Request_Pricing_from_Field_Service_Mobile</flowName>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>WorkOrder.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>EquipmentWorked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IsWorkOrderUpdated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>RepairContentVersionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RepairContentVersionIDCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>statusMultiDay</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Multi Day</stringValue>
        </value>
    </variables>
    <variables>
        <name>statusOnSite</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>On-Site</stringValue>
        </value>
    </variables>
    <variables>
        <name>statusTravel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Travel</stringValue>
        </value>
    </variables>
    <variables>
        <name>WorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WorkOrderEquipmentLoopVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Order_Equipment__c</objectType>
    </variables>
    <variables>
        <name>WorkOrderEquipmentsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Order_Equipment__c</objectType>
    </variables>
</Flow>
