force-app/main/default/flows/Manage_Resource_Skills.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Show_Toast</name>
        <label>Show Toast</label>
        <locationX>182</locationX>
        <locationY>3398</locationY>
        <actionName>c:LightningToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Service Resource Skills were updated successfully</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_to_Collection_Variable</name>
        <label>Add to Collection Variable</label>
        <locationX>138</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>ServiceResourceSkillToAddCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ServiceResourceSkillToAdd</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Skills_to_Add</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Postal_Code_Ids</name>
        <label>Assign Postal Code Ids</label>
        <locationX>270</locationX>
        <locationY>2942</locationY>
        <assignmentItems>
            <assignToReference>ServiceResourceSkillsToRemoveCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Skills_to_Remove.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Skills_to_Remove</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Service_Resource_Skills</name>
        <label>Assign Service Resource Skills</label>
        <locationX>270</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>ServiceResourceSkillIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Service_Resource_Skills.SkillId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Service_Resource_Skills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Skills_to_Record_Variable</name>
        <label>Assign Skills to Record Variable</label>
        <locationX>138</locationX>
        <locationY>1886</locationY>
        <assignmentItems>
            <assignToReference>ServiceResourceSkillToAdd.SkillId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Skills_to_Add.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceResourceSkillToAdd.ServiceResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Resource.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceResourceSkillToAdd.EffectiveStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_Variable</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>New_Skills_to_Add</name>
        <label>New Skills to Add?</label>
        <locationX>314</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>Skills_to_Remove</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Postal Codes to Add</defaultConnectorLabel>
        <rules>
            <name>Yes_Skills_to_Add</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Datatable_Skills_To_Add.firstSelectedRow.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Skills_to_Add</targetReference>
            </connector>
            <label>Yes, Skills to Add</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Resource_Skills_Found</name>
        <label>Service Resource Skills Found?</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Show_Assigned_Skills_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Resource_Skills</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Service_Resource_Skills</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skills_Found</name>
        <label>Skills found?</label>
        <locationX>314</locationX>
        <locationY>1310</locationY>
        <defaultConnector>
            <targetReference>Manage_Skills</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found_Skills</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Skills</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Manage_Skills</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skills_to_Remove</name>
        <label>Skills to Remove?</label>
        <locationX>314</locationX>
        <locationY>2702</locationY>
        <defaultConnectorLabel>No Skills to Remove</defaultConnectorLabel>
        <rules>
            <name>Yes_Remove_Skills</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Datatable_Skills_To_Remove.firstSelectedRow.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Skills_to_Remove</targetReference>
            </connector>
            <label>Yes, Remove Skills</label>
        </rules>
    </decisions>
    <description>This screen flow allows users to manage skills of Service Resources</description>
    <environments>Default</environments>
    <interviewLabel>Manage Resource Skills {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage Resource Skills</label>
    <loops>
        <name>Loop_Through_Service_Resource_Skills</name>
        <label>Loop Through Service Resource Skills</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <collectionReference>Get_Service_Resource_Skills</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Service_Resource_Skills</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Assigned_Skills</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Skills_to_Add</name>
        <label>Loop Through Skills to Add</label>
        <locationX>50</locationX>
        <locationY>1766</locationY>
        <collectionReference>Datatable_Skills_To_Add.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Skills_to_Record_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Service_Resource_Skills</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Skills_to_Remove</name>
        <label>Loop Through Skills to Remove</label>
        <locationX>182</locationX>
        <locationY>2822</locationY>
        <collectionReference>Datatable_Skills_To_Remove.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Postal_Code_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Service_Resource_Skills_to_Delete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Service_Resource_Skills</name>
        <label>Create Service Resource Skills</label>
        <locationX>50</locationX>
        <locationY>2222</locationY>
        <connector>
            <targetReference>Skills_to_Remove</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>ServiceResourceSkillToAddCollection</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Service_Resource_Skills</name>
        <label>Delete Service Resource Skills</label>
        <locationX>182</locationX>
        <locationY>3278</locationY>
        <connector>
            <targetReference>Show_Toast</targetReference>
        </connector>
        <inputReference>Get_Service_Resource_Skills_to_Delete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_All_Skills</name>
        <label>Get All Skills</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Skills_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>ServiceResourceSkillIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Skill</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assigned_Skills</name>
        <label>Get Assigned Skills</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Show_Assigned_Skills_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ServiceResourceSkillIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Skill</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Resource</name>
        <label>Get Service Resource</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Resource_Skills</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Resource_Skills</name>
        <label>Get Service Resource Skills</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Service_Resource_Skills_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Resource.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceResourceSkill</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Resource_Skills_to_Delete</name>
        <label>Get Service Resource Skills to Delete</label>
        <locationX>182</locationX>
        <locationY>3158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Service_Resource_Skills</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Resource.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SkillId</field>
            <operator>In</operator>
            <value>
                <elementReference>ServiceResourceSkillsToRemoveCollection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceResourceSkill</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Fault_Screen</name>
        <label>Error</label>
        <locationX>314</locationX>
        <locationY>2342</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Fault_Message</name>
            <fieldText>&lt;p&gt;An error occurred while updating Skills, please try again&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Manage_Skills</name>
        <label>Manage Skills</label>
        <locationX>314</locationX>
        <locationY>1526</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Skills_to_Add</targetReference>
        </connector>
        <fields>
            <name>Header1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Resource Skills&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Manage_Skills_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Manage_Skills_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SkillsToAdd</name>
                    <fieldText>&lt;p&gt;Please select Skills to add to {!Get_Service_Resource.Name}:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Datatable_Skills_To_Add</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Skill</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_All_Skills</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;MasterLabel&quot;,&quot;guid&quot;:&quot;column-a6e0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Skill Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Found_Skills</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Found_Skills</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Manage_Skills_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Manage_Skills_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SkillsToRemove</name>
                    <fieldText>&lt;p&gt;Please select Skills to be removed from {!Get_Service_Resource.Name}:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Datatable_Skills_To_Remove</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Skill</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Assigned_Skills</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;MasterLabel&quot;,&quot;guid&quot;:&quot;column-7efb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Skill Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Found</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Update Skills</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_Assigned_Skills_Screen</name>
        <label>Resource Skills</label>
        <locationX>314</locationX>
        <locationY>1070</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_All_Skills</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Resource Skills&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Show_Assigned_Skills_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Show_Assigned_Skills_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Datatable_Service_Resource_Skills</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Skill</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Assigned_Skills</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;MasterLabel&quot;,&quot;guid&quot;:&quot;column-ffef&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Skill Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Found</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Show_Assigned_Skills_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Show_Assigned_Skills_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NoSkillsText</name>
                    <fieldText>&lt;p&gt;{!Get_Service_Resource.Name} does not have any Skills configured&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Found</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Show_Assigned_Skills_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Show_Assigned_Skills_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ManageSkills</name>
                    <fieldText>&lt;p&gt;Click Manage Skills to add or remove Skills&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Manage Skills</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Service_Resource</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceResourceSkillIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceResourceSkillsToRemoveCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceResourceSkillToAdd</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResourceSkill</objectType>
    </variables>
    <variables>
        <name>ServiceResourceSkillToAddCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResourceSkill</objectType>
    </variables>
</Flow>
