force-app/main/default/flows/Request_Pricing_from_Field_Service_Mobile.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_to_Product_Request_Collection_Variable</name>
        <label>Assign to Product Request Collection Variable</label>
        <locationX>622</locationX>
        <locationY>2630</locationY>
        <assignmentItems>
            <assignToReference>ProductRequestCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProductRequest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>More_Parts_to_add_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Product_Request_Record_Variable</name>
        <label>Assign to Product Request Record Variable</label>
        <locationX>622</locationX>
        <locationY>2522</locationY>
        <assignmentItems>
            <assignToReference>ProductRequest.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Part_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductRequest.Equipment_Model_Product_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Equipment_Model_Product_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductRequest.Part_Manufacturer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Part_Manufacturer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductRequest.Part_Model_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Part_Model_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductRequest.Serial_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Serial_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductRequest.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductRequest.Part_Order_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason_for_Ordering_Part</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductRequest.Part_Order_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Product_Request_Collection_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variable</name>
        <label>Assign Variable</label>
        <locationX>1081</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>WorkedOn</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Work_Order_Equipments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables_for_Payment_Processing</name>
        <label>Assign Variables for Payment Processing</label>
        <locationX>567</locationX>
        <locationY>3638</locationY>
        <assignmentItems>
            <assignToReference>WorkOrder.Process_Payments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Work_Order_Process_Payments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables_for_Resolution_Details</name>
        <label>Assign Variables for Resolution Details</label>
        <locationX>820</locationX>
        <locationY>3230</locationY>
        <assignmentItems>
            <assignToReference>WorkOrder.Resolution_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Resolution_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder.Resolution_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_Resolution_Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrder.Customer_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Work_Order_Resolution_Details</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>chCompleted</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>chNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>chYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Add_another_Part_Order</name>
        <label>Add another Part Order?</label>
        <locationX>622</locationX>
        <locationY>2846</locationY>
        <defaultConnector>
            <targetReference>Create_Product_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No more Part Orders</defaultConnectorLabel>
        <rules>
            <name>Another_Part_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_create_another_Part_Order</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Part_Order_Screen</targetReference>
            </connector>
            <label>Another Part Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Asses_Resolution_Details</name>
        <label>Asses Resolution Details</label>
        <locationX>567</locationX>
        <locationY>2090</locationY>
        <defaultConnector>
            <targetReference>Capture_Resolution_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Need to add Resolution Details</defaultConnectorLabel>
        <rules>
            <name>Resolution_Details_Already_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrder.Resolution_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initiate_Payment_Processing_Screen</targetReference>
            </connector>
            <label>Resolution Details Already Added</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Face_Plate_Images</name>
        <label>Assess Face Plate Images</label>
        <locationX>880</locationX>
        <locationY>1982</locationY>
        <defaultConnector>
            <targetReference>Image_Upload_Verification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Face_Plate_Images_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderFilesCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asses_Resolution_Details</targetReference>
            </connector>
            <label>Face Plate Images Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assess_Worked_On</name>
        <label>Assess Worked On</label>
        <locationX>993</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Worked_On_Equipment_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Worked Equipment Not Found</defaultConnectorLabel>
        <rules>
            <name>Worked_On_Equipment_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkedOn</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Labor</targetReference>
            </connector>
            <label>Worked Equipment Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Equipment_was_Worked_On</name>
        <label>Check if Equipment was Worked On</label>
        <locationX>1213</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Work_Order_Equipments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Worked On No or None</defaultConnectorLabel>
        <rules>
            <name>Worked_On_Yes_or_NA</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderEquipmentLoopVariable.Worked_On__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrderEquipmentLoopVariable.Worked_On__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>N/A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Variable</targetReference>
            </connector>
            <label>Worked On Yes or N/A</label>
        </rules>
    </decisions>
    <decisions>
        <name>Labor_Records_Found</name>
        <label>Labor Records Found?</label>
        <locationX>1169</locationX>
        <locationY>1766</locationY>
        <defaultConnector>
            <targetReference>No_Labor_Record_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Labor Records</defaultConnectorLabel>
        <rules>
            <name>Labor_Records_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LaborRecordCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Face_Plate_Images</targetReference>
            </connector>
            <label>Labor Records Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Requires_Part_Order</name>
        <label>Requires Part Order?</label>
        <locationX>820</locationX>
        <locationY>2306</locationY>
        <defaultConnector>
            <targetReference>Assign_Variables_for_Resolution_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Part Order Not Required</defaultConnectorLabel>
        <rules>
            <name>Part_Order_Required</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Select_Resolution_Code</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AOP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Resolution_Code</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EPO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Resolution_Code</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HOP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Resolution_Code</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WOP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Part_Order_Screen</targetReference>
            </connector>
            <label>Part Order Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Based_Decision</name>
        <label>Status Based Decision</label>
        <locationX>1150</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Invalid_Status_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_In_Progress</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Onsite_Screen</targetReference>
            </connector>
            <label>Not In Progress</label>
        </rules>
        <rules>
            <name>On_Site</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On-Site</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrder.Process_Payments__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Work_Order_Equipments</targetReference>
            </connector>
            <label>On-Site</label>
        </rules>
        <rules>
            <name>Onsite_Already_Initiated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On-Site</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrder.Process_Payments__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Onsite_already_Initiated_Screen</targetReference>
            </connector>
            <label>Onsite - Already Initiated</label>
        </rules>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Completion_Screen</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Work_Order_Equipments_Found</name>
        <label>Work Order Equipments Found?</label>
        <locationX>1169</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Get_Labor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No WO Equipments</defaultConnectorLabel>
        <rules>
            <name>WO_Equipments_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderEquipmentsCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Work_Order_Equipments</targetReference>
            </connector>
            <label>WO Equipments Found</label>
        </rules>
    </decisions>
    <description>This flow allows Field Service Resources to initiate the request for payment processing from SFS mobile app</description>
    <dynamicChoiceSets>
        <name>chPartOrderReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Part_Order_Reason__c</picklistField>
        <picklistObject>ProductRequest</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chResolutionCode</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Resolution_Code__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Request Pricing from Field Service Mobile {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Request Pricing from Field Service Mobile</label>
    <loops>
        <name>Loop_Through_Work_Order_Equipments</name>
        <label>Loop Through Work Order Equipments</label>
        <locationX>993</locationX>
        <locationY>674</locationY>
        <assignNextValueToReference>WorkOrderEquipmentLoopVariable</assignNextValueToReference>
        <collectionReference>WorkOrderEquipmentsCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Equipment_was_Worked_On</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assess_Worked_On</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Product_Request</name>
        <label>Create Product Request</label>
        <locationX>754</locationX>
        <locationY>2954</locationY>
        <connector>
            <targetReference>Assign_Variables_for_Resolution_Details</targetReference>
        </connector>
        <inputReference>ProductRequestCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Face_Plate_Images</name>
        <label>Get Face Plate Images</label>
        <locationX>880</locationX>
        <locationY>1874</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assess_Face_Plate_Images</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrder.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Image_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Face Plate Images</stringValue>
            </value>
        </filters>
        <object>Work_Order_Files__c</object>
        <outputReference>WorkOrderFilesCollection</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Labor</name>
        <label>Get Labor</label>
        <locationX>1169</locationX>
        <locationY>1658</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Labor_Records_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrder.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Job_Duration__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>0.5</numberValue>
            </value>
        </filters>
        <object>Labor__c</object>
        <outputReference>LaborRecordCollection</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Appointment</name>
        <label>Get Service Appointment</label>
        <locationX>1150</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status_Based_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>ServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>StatusCategory</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>1150</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Process_Payments__c</queriedFields>
        <queriedFields>Resolution_Code__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order_Equipments</name>
        <label>Get Work Order Equipments</label>
        <locationX>1169</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Work_Order_Equipments_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrder.Id</elementReference>
            </value>
        </filters>
        <object>Work_Order_Equipment__c</object>
        <outputReference>WorkOrderEquipmentsCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Worked_On__c</queriedFields>
        <queriedFields>Equipment__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Work_Order_Process_Payments</name>
        <label>Update Work Order - Process Payments</label>
        <locationX>567</locationX>
        <locationY>3746</locationY>
        <inputReference>WorkOrder</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Order_Resolution_Details</name>
        <label>Update Work Order - Resolution Details</label>
        <locationX>820</locationX>
        <locationY>3338</locationY>
        <connector>
            <targetReference>Initiate_Payment_Processing_Screen</targetReference>
        </connector>
        <inputReference>WorkOrder</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Capture_Resolution_Code</name>
        <label>Work Resolution Information</label>
        <locationX>820</locationX>
        <locationY>2198</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Requires_Part_Order</targetReference>
        </connector>
        <fields>
            <name>Select_Resolution_Code</name>
            <choiceReferences>chResolutionCode</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Resolution Code</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Enter_Resolution_Notes</name>
            <fieldText>Enter Resolution Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Customer_Email</name>
            <dataType>String</dataType>
            <fieldText>Customer Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please enter a valid email address&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Customer_Email},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Completion_Screen</name>
        <label>Completion Screen</label>
        <locationX>1986</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Completion_Message</name>
            <fieldText>&lt;p&gt;This Service Appointment has already been Completed&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Image_Upload_Verification</name>
        <label>Image Upload Verification</label>
        <locationX>1194</locationX>
        <locationY>2090</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_FacePlate_Message</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Face Plate Image Not Found&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Please upload Face Plate image on this Work Order before initiating payment processing&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Initiate_Payment_Processing_Screen</name>
        <label>Request Pricing</label>
        <locationX>567</locationX>
        <locationY>3530</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Variables_for_Payment_Processing</targetReference>
        </connector>
        <fields>
            <name>Payment_Processing_Message</name>
            <fieldText>&lt;p&gt;Please verify that the information entered in &lt;strong&gt;Labor &lt;/strong&gt;and &lt;strong&gt;Product Consumed&lt;/strong&gt; related lists on the Work Order is correct&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Initiate_Payment_Processing</name>
            <dataType>Boolean</dataType>
            <fieldText>Yes, I have verified the information. Payment Processing request can be initiated</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please select the checkbox to continue&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Initiate_Payment_Processing}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invalid_Status_Screen</name>
        <label>Invalid Status Screen</label>
        <locationX>2250</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Invalid_Status_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;You are not allowed to change the status of {!ServiceAppointment.Status} Service Appointments&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>More_Parts_to_add_Screen</name>
        <label>Order Parts</label>
        <locationX>622</locationX>
        <locationY>2738</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_another_Part_Order</targetReference>
        </connector>
        <fields>
            <name>Do_you_want_to_create_another_Part_Order</name>
            <choiceReferences>chYes</choiceReferences>
            <choiceReferences>chNo</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>chNo</defaultSelectedChoiceReference>
            <fieldText>Do you want to create another Part Order?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Labor_Record_Screen</name>
        <label>Labor Verification</label>
        <locationX>1458</locationX>
        <locationY>1874</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Labor_Message</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Labor Information Not Found&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Please ensure that a Labor record with a Job Duration of 0.5 hours or more is added before initiating payment processing&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Onsite_Screen</name>
        <label>Not Onsite Screen</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Not_Onsite_Message</name>
            <fieldText>&lt;p&gt;Payment Processing cannot be initiated for this Service Appointment as it is in status {!ServiceAppointment.Status}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Onsite_already_Initiated_Screen</name>
        <label>Onsite - already Initiated Screen</label>
        <locationX>1722</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Onsite_Already_Initiated_Message</name>
            <fieldText>&lt;p&gt;Request for Payment Processing has already been initiated for this Service Appointment&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Part_Order_Screen</name>
        <label>Order Parts</label>
        <locationX>622</locationX>
        <locationY>2414</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_to_Product_Request_Record_Variable</targetReference>
        </connector>
        <fields>
            <name>Part_Order_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Selected Resolution Code requires a Part Order to be created. Please enter Part Order Information:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Reason_for_Ordering_Part</name>
            <choiceReferences>chPartOrderReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason for Ordering Part</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Part_Manufacturer</name>
            <dataType>String</dataType>
            <fieldText>Part Manufacturer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Part_Model_Number</name>
            <dataType>String</dataType>
            <fieldText>Part Model #</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Equipment_Model_Product_Number</name>
            <dataType>String</dataType>
            <fieldText>Equipment Model # / Product #</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Serial_Number</name>
            <dataType>String</dataType>
            <fieldText>Serial #</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Part_Description</name>
            <fieldText>Part Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Worked_On_Equipment_Screen</name>
        <label>Equipment Verification</label>
        <locationX>1081</locationX>
        <locationY>1274</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>WO_Equipment_Not_WorkedOn_Message</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Worked On Equipment Not Found&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Payment Processing cannot be initiated on this Service Appointment as none of the associated Equipments have been marked as worked  (Yes or N/A)&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please update the Equipment that was worked on for this Service Appointment&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1024</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LaborRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Labor__c</objectType>
    </variables>
    <variables>
        <name>ProductRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequest</objectType>
    </variables>
    <variables>
        <name>ProductRequestCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequest</objectType>
    </variables>
    <variables>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>WorkedOn</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>WorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WorkOrderEquipmentLoopVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Order_Equipment__c</objectType>
    </variables>
    <variables>
        <name>WorkOrderEquipmentsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Order_Equipment__c</objectType>
    </variables>
    <variables>
        <name>WorkOrderFilesCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Order_Files__c</objectType>
    </variables>
</Flow>
