force-app/main/default/flows/Send_Pricing_Summary_Notification_to_Field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alert_Resource_When_Pricing_Request_Results_Are_Available</name>
        <label>Alert Resource When Pricing Request Results Are Available</label>
        <locationX>308</locationX>
        <locationY>815</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecepientIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Variables_and_Recipients</name>
        <label>Assign Variables and Recipients</label>
        <locationX>308</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>RecepientIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Service_Appointment.Assigned_Resource__r.RelatedRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Alert_Resource_When_Pricing_Request_Results_Are_Available</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Assigned_Resource_Value</name>
        <label>Check Assigned Resource Value</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Get_Custom_Notification_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Assigned Resource Found</defaultConnectorLabel>
        <rules>
            <name>Assigned_Resource_Not_Found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Appointment.Assigned_Resource__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Service_Appointment.Assigned_Resource__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Assigned Resource Not Found</label>
        </rules>
    </decisions>
    <description>This flow sends notification to Field Technician when WorkOrder assigned to them receives pricing summary calculations from WennSoft</description>
    <environments>Default</environments>
    <interviewLabel>Send Pricing Summary Update Notification to Field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Pricing Summary Notification to Field</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Notification_Type</name>
        <label>Get Custom Notification Type</label>
        <locationX>308</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Variables_and_Recipients</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Field_Service_Notifications</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Appointment</name>
        <label>Get Service Appointment</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Assigned_Resource_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Assigned_Resource__c</queriedFields>
        <queriedFields>AppointmentNumber</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Service_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Wrap_Up__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Wrap_Up__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>#{!Get_Service_Appointment.AppointmentNumber} has been updated with pricing summary for review and completion</text>
    </textTemplates>
    <textTemplates>
        <name>NotificationTitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Pricing Summary received</text>
    </textTemplates>
    <variables>
        <name>RecepientIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
