force-app/main/default/flows/Set_Part_Cost_and_Description_on_Transfer_from_Field_Service_Mobile.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Part_Cost_and_Description</name>
        <label>Assign Part Cost and Description</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Get_Destination_Product_Item.Part_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Source_Product_Item.Part_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Destination_Product_Item.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Source_Product_Item.Description__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Destination_Product_Item</targetReference>
        </connector>
    </assignments>
    <description>This flow copies the Part Cost and Description from Source Product Item to Destination Product Item</description>
    <environments>Default</environments>
    <interviewLabel>Set Part Cost and Description on Transfer from Field Service Mobile {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Part Cost and Description on Transfer from Field Service Mobile</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Destination_Product_Item</name>
        <label>Get Destination Product Item</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Part_Cost_and_Description</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ProductItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Part_Cost__c</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Transfer</name>
        <label>Get Product Transfer</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Source_Product_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductTransfer</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Source_Product_Item</name>
        <label>Get Source Product Item</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Destination_Product_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product_Transfer.SourceProductItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Part_Cost__c</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Destination_Product_Item</name>
        <label>Update Destination Product Item</label>
        <locationX>176</locationX>
        <locationY>815</locationY>
        <inputReference>Get_Destination_Product_Item</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Product_Transfer</targetReference>
        </connector>
        <object>ProductItemTransaction</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
