force-app/main/default/flows/Set_Multi_Day_flag_on_Service_Appointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Set_Multi_Day_to_False</name>
        <label>Set Multi Day to False</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>IsMultiDay</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Multi_Day_to_True</name>
        <label>Set Multi Day to True</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>IsMultiDay</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Multi_Day</name>
        <label>Is Multi Day</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Multi_Day_Appointment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DurationInMinutes</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>420.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FSL__IsMultiDay__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Multi_Day_to_True</targetReference>
            </connector>
            <label>Multi Day Appointment</label>
        </rules>
        <rules>
            <name>Not_Multi_Day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DurationInMinutes</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>420.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FSL__IsMultiDay__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Multi_Day_to_False</targetReference>
            </connector>
            <label>Not Multi Day</label>
        </rules>
    </decisions>
    <description>This flow sets the Multi Day flag on the Service Appointment if the duration is updated to be greater than 7 hours</description>
    <environments>Default</environments>
    <interviewLabel>Set Multi Day flag on Service Appointment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Multi Day flag on Service Appointment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Service_Appointment</name>
        <label>Update Service Appointment</label>
        <locationX>314</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>FSL__IsMultiDay__c</field>
            <value>
                <elementReference>IsMultiDay</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Multi_Day</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DurationInMinutes</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>IsMultiDay</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
