force-app/main/default/flows/Terminate_Service_Resource.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Show_Toast</name>
        <label>Show Toast</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <actionName>c:LightningToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>ToastMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Service_Resource_Proactive_Update</name>
        <label>Service Resource - Proactive Update</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Get_Service_Resource.Termination_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Termination_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Toast_Message_Proactive</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Service_Resource_Reactive_Update</name>
        <label>Service Resource - Reactive Update</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Get_Service_Resource.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Service_Resource.Termination_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Termination_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Toast_Message_Reactive</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Toast_Message_Proactive</name>
        <label>Set Toast Message - Proactive</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>ToastMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A Resource Absence has been created from the date of termination. Please de-activate the resource on the termination date</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Resource_Absence</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Toast_Message_Reactive</name>
        <label>Set Toast Message - Reactive</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>ToastMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Service Resource has been de-activated and is no longer available for scheduling</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Resource_Absence</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Termination_Date</name>
        <label>Check Termination Date</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Service_Resource_Reactive_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Today or Past Date</defaultConnectorLabel>
        <rules>
            <name>Date_in_Future</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Termination_Date</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Resource_Proactive_Update</targetReference>
            </connector>
            <label>Date in Future</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AbsenceEndDate</name>
        <dataType>DateTime</dataType>
        <expression>{!AbsenceStartDate} + 180</expression>
    </formulas>
    <formulas>
        <name>AbsenceStartDate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(Text({!Termination_Date})+&apos; &apos;+&apos;05:00:00&apos;)</expression>
    </formulas>
    <interviewLabel>Terminate Service Resource {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Terminate Service Resource</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Resource_Absence</name>
        <label>Create Resource Absence</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Update_Service_Resource</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Service Resource has been Terminated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End</field>
            <value>
                <elementReference>AbsenceEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__GanttLabel__c</field>
            <value>
                <stringValue>Service Resource has been Terminated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResourceId</field>
            <value>
                <elementReference>Get_Service_Resource.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start</field>
            <value>
                <elementReference>AbsenceStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Don&apos;t Assign Work</stringValue>
            </value>
        </inputAssignments>
        <object>ResourceAbsence</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Termination_Date_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ResourceAbsence</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Non_Availability</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Resource</name>
        <label>Get Service Resource</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Service_Resource</name>
        <label>Update Service Resource</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>Show_Toast</targetReference>
        </connector>
        <inputReference>Get_Service_Resource</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Termination_Date_Screen</name>
        <label>Termination Date Screen</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Termination_Date</targetReference>
        </connector>
        <fields>
            <name>Termination_Date_Text</name>
            <fieldText>&lt;p&gt;Please enter the Termination Date for {!Get_Service_Resource.Name}:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Termination_Date_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Termination_Date_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Termination_Date</name>
                    <dataType>Date</dataType>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Termination_Date_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Service_Resource</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ToastMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
