force-app/main/default/flows/Transfer_Product_Item_from_Field_Service_Mobile.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Enough_Quantity_to_Transfer</name>
        <label>Enough Quantity to Transfer?</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Product_Item_Transfer_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Quantity equal to or more than 1</defaultConnectorLabel>
        <rules>
            <name>Quantity_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductItem.QuantityOnHand</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quantity_Validation</targetReference>
            </connector>
            <label>Quantity less than 1</label>
        </rules>
    </decisions>
    <description>This flow allows Field Service Technicians to transfer Product Items from one van to another</description>
    <dynamicChoiceSets>
        <name>chLocation</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsMobile</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsInventoryLocation</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>ProductItem.LocationId</elementReference>
            </value>
        </filters>
        <object>Location</object>
        <outputAssignments>
            <assignToReference>DestinationLocationID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Transfer Product Item from Field Service Mobile {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transfer Product Item from Field Service Mobile</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Product_Transfer</name>
        <label>Create Product Transfer</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>ProductItem.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DestinationLocationId</field>
            <value>
                <elementReference>DestinationLocationID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReceived</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityReceived</field>
            <value>
                <elementReference>Quantity_Transferred</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantitySent</field>
            <value>
                <elementReference>Quantity_Transferred</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityUnitOfMeasure</field>
            <value>
                <stringValue>Each</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceLocationId</field>
            <value>
                <elementReference>ProductItem.LocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceProductItemId</field>
            <value>
                <elementReference>ProductItem.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ProductTransfer</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Product_Item</name>
        <label>Get Product Item</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enough_Quantity_to_Transfer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ProductItem</object>
        <outputReference>ProductItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>QuantityOnHand</queriedFields>
        <queriedFields>QuantityUnitOfMeasure</queriedFields>
        <queriedFields>LocationId</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <queriedFields>Part_Cost__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Product_Item_Transfer_Details</name>
        <label>Product Item Transfer Details</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Product_Transfer</targetReference>
        </connector>
        <fields>
            <name>Destination_Location</name>
            <choiceReferences>chLocation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Destination Location</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Quantity_Transferred</name>
            <dataType>Number</dataType>
            <fieldText>Quantity Transferred</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Quantity transferred should be greater than 0 and should not exceed the quantity in your Inventory&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Quantity_Transferred} &gt; 0 &amp;&amp; {!Quantity_Transferred} &lt;= {!ProductItem.QuantityOnHand}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Quantity_Validation</name>
        <label>Quantity Validation</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Quantity_Validation_Message</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Not enough quantity to transfer&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Quantity on hand: 0&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You do not have enough quantity on hand for this Product Item to transfer to another Location&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Product_Item</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DestinationLocationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductItem</objectType>
    </variables>
</Flow>
