force-app/main/default/flows/Update_Equipment_from_Field_Service_Mobile.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Set_Equipment_Values</name>
        <label>Set Equipment Values</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Equipment.SEER__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SEER</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Equipment.Serial_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Serial_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Equipment.Model_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Model_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Equipment.Warranty_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Warranty_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Equipment.Worked_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Worked_On</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Equipment.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Equipment.Manufacturer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Manufacturer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Equipment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assess_Work_Order_Status</name>
        <label>Assess Work Order Status</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Get_Equipment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>In Progress</defaultConnectorLabel>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrder.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Completed_Screen</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
        <rules>
            <name>Payment_Processing_Request_Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrder.Process_Payments__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_Processing_Submitted_Screen</targetReference>
            </connector>
            <label>Payment Processing Request Submitted</label>
        </rules>
    </decisions>
    <description>This flow allows Field Technicians to update Equipment records associated with Service Appointments dispatched to them</description>
    <dynamicChoiceSets>
        <name>chEquipmentManufacturer</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Manufacturer__c</picklistField>
        <picklistObject>Equipment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chEquipmentStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Equipment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chEquipmentType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Equipment__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chWorkedOn</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Worked_On__c</picklistField>
        <picklistObject>Equipment__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Update Equipment from Field Service Mobile {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Equipment from Field Service Mobile</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_Equipment</name>
        <label>Get Equipment</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Equipment_Update_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderEquipment.Equipment__c</elementReference>
            </value>
        </filters>
        <object>Equipment__c</object>
        <outputReference>Equipment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contract_Number__c</queriedFields>
        <queriedFields>Equipment_ID__c</queriedFields>
        <queriedFields>Installation_Date__c</queriedFields>
        <queriedFields>Model_Number__c</queriedFields>
        <queriedFields>Manufacturer__c</queriedFields>
        <queriedFields>SEER__c</queriedFields>
        <queriedFields>Serial_Number__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Warranty_Date__c</queriedFields>
        <queriedFields>Worked_On__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assess_Work_Order_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderEquipment.Work_Order__c</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Process_Payments__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order_Equipment</name>
        <label>Get Work Order Equipment</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>Work_Order_Equipment__c</object>
        <outputReference>WorkOrderEquipment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Equipment__c</queriedFields>
        <queriedFields>Work_Order__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Equipment</name>
        <label>Update Equipment</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <inputReference>Equipment</inputReference>
    </recordUpdates>
    <screens>
        <name>Completed_Screen</name>
        <label>Work Order Status Validation</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Completion_Message</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;It is not possible to update Equipment information on this Work Order as it has already been completed&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Equipment_Update_Screen</name>
        <label>Equipment Details</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Equipment_Values</targetReference>
        </connector>
        <fields>
            <name>Status</name>
            <choiceReferences>chEquipmentStatus</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Equipment.Status__c</elementReference>
            </defaultValue>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Equipment_Id_Label</name>
            <fieldText>&lt;p&gt;Equipment ID&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Equipment_ID</name>
            <fieldText>&lt;p&gt;{!Equipment.Equipment_ID__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Type</name>
            <choiceReferences>chEquipmentType</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Equipment.Type__c</elementReference>
            </defaultValue>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Manufacturer</name>
            <choiceReferences>chEquipmentManufacturer</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Equipment.Manufacturer__c</elementReference>
            </defaultValue>
            <fieldText>Manufacturer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Model_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Equipment.Model_Number__c</elementReference>
            </defaultValue>
            <fieldText>Model #</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Serial_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Equipment.Serial_Number__c</elementReference>
            </defaultValue>
            <fieldText>Serial #</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SEER</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Equipment.SEER__c</elementReference>
            </defaultValue>
            <fieldText>SEER</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Installation_Date_Label</name>
            <fieldText>&lt;p&gt;Installation Date&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Installation_Date</name>
            <fieldText>&lt;p&gt;{!Equipment.Installation_Date__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Warranty_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Equipment.Warranty_Date__c</elementReference>
            </defaultValue>
            <fieldText>Warranty Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Worked_On</name>
            <choiceReferences>chWorkedOn</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Equipment.Worked_On__c</elementReference>
            </defaultValue>
            <fieldText>Worked On</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Payment_Processing_Submitted_Screen</name>
        <label>Payment Processing Submitted</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Payment_Processing_Message</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;It is not possible to update Equipment information on this Work Order as the request for Payment Processing has already been submitted&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Work_Order_Equipment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Equipment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Equipment__c</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WorkOrderEquipment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Order_Equipment__c</objectType>
    </variables>
</Flow>
