force-app/main/default/flows/Update_Overtime_Offer_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Show_Toast</name>
        <label>Show Toast</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <actionName>c:LightningToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>ToastMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Variables_Cancelled</name>
        <label>Assign Variables</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Get_Overtime_Offer.Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comment_Cancelled</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Overtime_Offer.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ToastMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Overtime Offer Status has been updated to Cancelled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Overtime_Offer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables_Hired</name>
        <label>Assign Variables</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Get_Overtime_Offer.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hired</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Overtime_Offer.Offer_Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Offer_Start_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Overtime_Offer.Offer_Finish_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Offer_Finish_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Overtime_Offer.Availability_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Availability_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Overtime_Offer.Overtime_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Overtime_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Overtime_Offer.Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ToastMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Overtime Offer Status has been updated to Hired </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Overtime_Offer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables_NotHired</name>
        <label>Assign Variables</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Get_Overtime_Offer.Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comment_NotHired</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Overtime_Offer.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Hired</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ToastMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Overtime Offer Status has been updated to Not Hired</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Overtime_Offer</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>chCancelled</name>
        <choiceText>Cancelled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancelled</stringValue>
        </value>
    </choices>
    <choices>
        <name>chHired</name>
        <choiceText>Hired</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hired</stringValue>
        </value>
    </choices>
    <choices>
        <name>chNotHired</name>
        <choiceText>Not Hired</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Hired</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Assess_Status</name>
        <label>Assess Status</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Update_Overtime_Offer_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hired_Screen</targetReference>
            </connector>
            <label>Hired</label>
        </rules>
        <rules>
            <name>Not_Hired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Update_Overtime_Offer_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Hired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Hired_Screen</targetReference>
            </connector>
            <label>Not Hired</label>
        </rules>
        <rules>
            <name>Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Update_Overtime_Offer_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancelled_Screen</targetReference>
            </connector>
            <label>Cancelled</label>
        </rules>
    </decisions>
    <description>This flow allows users to update the status of Overtime Offers</description>
    <dynamicChoiceSets>
        <name>chAvailabilityType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Availability_Type__c</picklistField>
        <picklistObject>Overtime_Offers__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chOvertimeReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Overtime_Reason__c</picklistField>
        <picklistObject>Overtime_Offers__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Update Overtime Offer Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Overtime Offer Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Overtime_Offer</name>
        <label>Get Overtime Offer</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Overtime_Offers__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Overtime_Offer</name>
        <label>Update Overtime Offer</label>
        <locationX>446</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>Show_Toast</targetReference>
        </connector>
        <inputReference>Get_Overtime_Offer</inputReference>
    </recordUpdates>
    <screens>
        <name>Cancelled_Screen</name>
        <label>Cancelled Screen</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Variables_Cancelled</targetReference>
        </connector>
        <fields>
            <name>Overtime_Offer_Status_Cancelled</name>
            <choiceReferences>chCancelled</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>chCancelled</defaultSelectedChoiceReference>
            <fieldText>Overtime Offer Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Cancelled_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Cancelled_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Comment_Cancelled</name>
                    <defaultValue>
                        <stringValue>{!Get_Overtime_Offer.Comment__c}</stringValue>
                    </defaultValue>
                    <fieldText>Comment</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Change_Status</name>
        <label>Change Status</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assess_Status</targetReference>
        </connector>
        <fields>
            <name>Update_Overtime_Offer_Status</name>
            <choiceReferences>chHired</choiceReferences>
            <choiceReferences>chNotHired</choiceReferences>
            <choiceReferences>chCancelled</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Update Overtime Offer Status</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Hired_Screen</name>
        <label>Hired Screen</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Variables_Hired</targetReference>
        </connector>
        <fields>
            <name>Overtime_Offer_Status</name>
            <choiceReferences>chHired</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>chHired</defaultSelectedChoiceReference>
            <fieldText>Overtime Offer Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Hired_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Hired_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Offer_Start_Time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>Get_Overtime_Offer.Offer_Start_Time__c</elementReference>
                    </defaultValue>
                    <fieldText>Offer Start Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Hired_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Offer_Finish_Time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>Get_Overtime_Offer.Offer_Finish_Time__c</elementReference>
                    </defaultValue>
                    <fieldText>Offer Finish Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Hired_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Hired_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Overtime_Reason</name>
                    <choiceReferences>chOvertimeReason</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Overtime_Offer.Overtime_Reason__c</elementReference>
                    </defaultValue>
                    <fieldText>Overtime Reason</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Hired_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Availability_Type</name>
                    <choiceReferences>chAvailabilityType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Overtime_Offer.Availability_Type__c</elementReference>
                    </defaultValue>
                    <fieldText>Availability Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Hired_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Hired_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Comment</name>
                    <defaultValue>
                        <stringValue>{!Get_Overtime_Offer.Comment__c}</stringValue>
                    </defaultValue>
                    <fieldText>Comment</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Not_Hired_Screen</name>
        <label>Not Hired Screen</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Variables_NotHired</targetReference>
        </connector>
        <fields>
            <name>Overtime_Offer_Status_NotHired</name>
            <choiceReferences>chNotHired</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>chNotHired</defaultSelectedChoiceReference>
            <fieldText>Overtime Offer Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Not_Hired_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Not_Hired_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Comment_NotHired</name>
                    <defaultValue>
                        <stringValue>{!Get_Overtime_Offer.Comment__c}</stringValue>
                    </defaultValue>
                    <fieldText>Comment</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Overtime_Offer</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ToastMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
