force-app/main/default/flows/Update_Product_Consumed_from_Field_Service_Mobile.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Updated_Values</name>
        <label>Assign Updated Values</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>ProductConsumed.Adjustment_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Adjustment_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductConsumed.Adjustment_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Adjustment_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductConsumed.QuantityConsumed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity_Consumed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductConsumed.Call_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Product_Consumed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_WO_Status</name>
        <label>Check WO Status</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Update_Product_Consumed_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>In Progress</defaultConnectorLabel>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrder.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WO_Completed_Screen</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
        <rules>
            <name>Payment_Request_Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrder.Process_Payments__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_Processing_Submitted</targetReference>
            </connector>
            <label>Payment Request Submitted</label>
        </rules>
    </decisions>
    <description>This flow allows Field Technicians to update Product Consumed associated with a WorkOrder</description>
    <dynamicChoiceSets>
        <name>chAdjustmentReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Adjustment_Reason__c</picklistField>
        <picklistObject>ProductConsumed</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chCallType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Call_Type__c</picklistField>
        <picklistObject>ProductConsumed</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Update Product Consumed from Field Service Mobile {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Product Consumed from Field Service Mobile</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_Product_Consumed</name>
        <label>Get Product Consumed</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ProductConsumed</object>
        <outputReference>ProductConsumed</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Call_Type__c</queriedFields>
        <queriedFields>Adjustment_Value__c</queriedFields>
        <queriedFields>Adjustment_Reason__c</queriedFields>
        <queriedFields>QuantityConsumed</queriedFields>
        <queriedFields>WorkOrderId</queriedFields>
        <queriedFields>ProductName</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>ProductItemId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_WO_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductConsumed.WorkOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Process_Payments__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Product_Consumed</name>
        <label>Update Product Consumed</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <inputReference>ProductConsumed</inputReference>
    </recordUpdates>
    <screens>
        <name>Payment_Processing_Submitted</name>
        <label>Payment Processing Submitted</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Payment_Processing_Message</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;It is not possible to update Product Consumed information on this Work Order as the request for Payment Processing has already been submitted&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Product_Consumed_Screen</name>
        <label>Product Consumed Details</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Updated_Values</targetReference>
        </connector>
        <fields>
            <name>Product_Item</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!ProductConsumed.ProductName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!ProductConsumed.Description} - ${!ProductConsumed.UnitPrice}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Call_Type</name>
            <choiceReferences>chCallType</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ProductConsumed.Call_Type__c</elementReference>
            </defaultValue>
            <fieldText>Call Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Quantity_Consumed</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>ProductConsumed.QuantityConsumed</elementReference>
            </defaultValue>
            <fieldText>Quantity Consumed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Adjustment_Value</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>ProductConsumed.Adjustment_Value__c</elementReference>
            </defaultValue>
            <fieldText>Adjustment Value ($)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Adjustment_Reason</name>
            <choiceReferences>chAdjustmentReason</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ProductConsumed.Adjustment_Reason__c</elementReference>
            </defaultValue>
            <fieldText>Adjustment Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>WO_Completed_Screen</name>
        <label>Work Order Status Validation</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>WO_Completed_Message</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;It is not possible to update Product Consumed information on this Work Order as it has already been completed&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Product_Consumed</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductConsumed</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductConsumed</objectType>
    </variables>
    <variables>
        <name>ProductItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductItem</objectType>
    </variables>
    <variables>
        <name>WorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
