force-app/main/default/flows/Update_Service_Appointment_Start_and_Complete_Times.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Assess_Status_Change</name>
        <label>Assess Status Change</label>
        <locationX>358</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>On_Site</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On-Site</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Planned_Dates_Populated</targetReference>
            </connector>
            <label>On-Site</label>
        </rules>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On-Site</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Actual_End</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Planned_Dates_Populated</name>
        <label>Planned Dates Populated?</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Set_Planned_Dates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Populated</defaultConnectorLabel>
        <rules>
            <name>Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Planned_Scheduled_Start__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Planned_Scheduled_End__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Scheduled_Start_and_End</targetReference>
            </connector>
            <label>Populated</label>
        </rules>
    </decisions>
    <description>This flow sets the Scheduled/Actual Start and Scheduled/Actual End fields when Service Appointment status is updated to On-Site and Completed</description>
    <environments>Default</environments>
    <formulas>
        <name>ActualEndToUpsert</name>
        <dataType>DateTime</dataType>
        <expression>IF({!HasMobileEndTime} , {!$Record.Mobile_End_Time__c}, {!$Flow.CurrentDateTime})</expression>
    </formulas>
    <formulas>
        <name>ActualStartToUpsert</name>
        <dataType>DateTime</dataType>
        <expression>IF({!HasMobileStartTime} , {!$Record.Mobile_Start_Time__c}, {!$Flow.CurrentDateTime})</expression>
    </formulas>
    <formulas>
        <name>HasMobileEndTime</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!$Record.Mobile_End_Time__c}))</expression>
    </formulas>
    <formulas>
        <name>HasMobileStartTime</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!$Record.Mobile_Start_Time__c}))</expression>
    </formulas>
    <formulas>
        <name>NewScheduledEndOnStartChange</name>
        <dataType>DateTime</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.DurationInMinutes})),
IF({!HasMobileStartTime}, {!$Record.Mobile_Start_Time__c}+({!$Record.DurationInMinutes}/1440), {!$Flow.CurrentDateTime}+({!$Record.DurationInMinutes}/1440)),
{!ActualStartToUpsert} + ({!$Record.SchedEndTime} - {!$Record.SchedStartTime}))</expression>
    </formulas>
    <interviewLabel>Update Service Appointment Start and Complete Times {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Service Appointment Start and Complete Times</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Actual_End</name>
        <label>Set Actual End</label>
        <locationX>402</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>ActualEndTime</field>
            <value>
                <elementReference>ActualEndToUpsert</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Pinned__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedEndTime</field>
            <value>
                <elementReference>ActualEndToUpsert</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Planned_Dates</name>
        <label>Set Planned Dates</label>
        <locationX>138</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>Set_Scheduled_Start_and_End</targetReference>
        </connector>
        <inputAssignments>
            <field>Planned_Scheduled_End__c</field>
            <value>
                <elementReference>$Record.SchedEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Planned_Scheduled_Start__c</field>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Scheduled_Start_and_End</name>
        <label>Set Scheduled Start and End</label>
        <locationX>50</locationX>
        <locationY>767</locationY>
        <inputAssignments>
            <field>ActualStartTime</field>
            <value>
                <elementReference>ActualStartToUpsert</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Pinned__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedEndTime</field>
            <value>
                <elementReference>NewScheduledEndOnStartChange</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedStartTime</field>
            <value>
                <elementReference>ActualStartToUpsert</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assess_Status_Change</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>On-Site</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
